 html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
margin: 0;
padding: 0;
border: 0;
font-size: 100%;
font: inherit;
vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
display: block;
}
body {
line-height: 1;
}
ol, ul {
list-style: none;
}
blockquote, q {
quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
content: '';
content: none;
}
table {
border-collapse: collapse;
border-spacing: 0;
}
* {
box-sizing: border-box;
}
body {
	font-family: 'PT Sans', sans-serif;
	font-weight: 400;
	font-size: 14px;
}
a {
	text-decoration: none;
	outline: none;
	font-weight: 700;
	color: #000;
	text-transform: uppercase;
}
a:hover,
a:focus{
	color: #81b3d2;
}
a:active{
	color: #cfcfcf;

}
.header{
	height: 58px;
	width: 100%;
	position: relative;	
}
.menu {
	margin:0 auto;
	max-width: 1200px;
	padding-right: 90px;
	padding-left: 90px;
	display: flex;
	flex-direction: row;
	justify-content: space-between;
}
.burger {
	width: 23px;
	height: 20px;
	display: none;
    flex-direction: column;
    justify-content: space-between;
    position: absolute;
    right: 20px;
    top: 20px; 
    cursor: pointer;
    opacity: 0.8;
}
.burger-line {
	width: 100%;
    height: 4px;
    background-color: #669ec0;
}
.burger:hover,
.burger:focus{
	opacity: 1;
}
.menu-mobile {
	display: none;
	width: 100%;
	min-width: 280px;
	height: 225px;
	background-color: #81b3d2;
	position: absolute;
	z-index: 2;
	flex-direction: column;
	justify-content: space-around;
}
.menu-mobile li{
	width: 100%;
	line-height: 55px;
	padding-top: 0px;
	padding-bottom: 0px; 
	text-align: center;
	border-bottom: 1px solid #678fa8;
	
}
.li-index {
	position: relative;
}
.close {
position: absolute;
right: 20px;
top: 11px;
width: 23px;
height: 23px;
opacity: 0.8;
z-index: 2;
cursor: pointer;
}
.close:hover {
opacity: 1;
}
.close:before, .close:after {
position: absolute;
content: ' ';
height: 33px;
width: 4px;
background-color: #fff;
}
.close:before {
transform: rotate(45deg);
}
.close:after {
transform: rotate(-45deg);
}
.li {
	border-top: 1px solid #9ac2db;
}
.li-hotels-mobile {
	border-top: 1px solid #9ac2db;
	box-shadow: 0px 4px 4px rgba(0,0,0,0.25),
0 0 4px rgba(0,0,0,0.12);
}
.menu-mobile a{
	color: #fff;
}
.menu-mobile a:hover,
.menu-mobile a:focus{
	color: #766357;
}
.menu li{ 
	width: 106px;
	margin-top: 22px;
}
.li-hotels{
	text-align: right;
}
.logo {
	height: 97px;
	width: 186px;
	z-index: 1;
}
.logo-tablet {
	height: 83px;
	width: 102px;
	z-index: 1;
	display: none;
}
.logo-tablet-on {
	display: none;
	height: 83px;
	width: 102px;
	margin: 0 auto;
	position: relative;
	z-index: 1;
}
.first {
	width: 100%;
	height: 518px;
	background-image: url("../img/img-bg.png");
	background-size: cover;
	overflow: hidden;
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	position: relative;
	box-sizing: border-box;
}
.header-text {
	margin:0 auto;
	margin-top: 73px;
	height: 330px;
	width: 462px;
}
.mask {
	margin:0 auto;
	width: 100%;
	position: absolute;
	bottom: -1px;
	border-bottom: #fff;
}
h2 {
	text-transform: uppercase;
	font-weight: 700;
	color: #000;
	font-size: 21px;
	text-align: center;
	line-height: 1.2;
}
p{
	margin-top: 40px;
	text-align: center;
	text-transform: uppercase;
	color: #333333;
	font-family: 'PT Sans', sans-serif;
	font-weight: 400;
	font-size: 14px;
	margin-bottom: 55px;
}
.five-reason{
	margin:0 auto; 
	max-width: 1200px;
	margin-top: 55px;	
}
.number-one {
	display: flex;
	flex-direction: row;
	margin:0 auto;
	margin-top: 59px
	width: 100%;
	overflow: hidden;

}
.city {
	width: 33.33%;
	min-width: 256px;
	background-color: #81b3d2;
	text-align: center;
	color: #fff;
	height: 256px;
}
.div-img-two {
	height: 256px;
	overflow: hidden;
}
.two-img {
	min-width: 800px;
	height: 256px;
}
.city h2{
	color: #fff;
	margin-top: 53px;
	margin-bottom: 22px;

}
.city p{
	color: #fff;
	margin-top: 33px;
}
.icons {
	margin:0 auto; 
	width: 100%;
	height: 332px;
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	margin-bottom: 55px;

}
.housing p{
	max-width: 255px;
	margin: 0 auto;
}
.foot p{
	max-width: 287px;
	margin: 0 auto;
}
.souvenir p{
	max-width: 216px;
	margin: 0 auto;
}
.one-img{
	min-width: 800px;
	height: 256px;

}
.housing {
	width: 33.33%;
	height: 332px;
	display: flex;
	flex-direction: column;
	justify-content: space-around;
	padding-top: 60px;
}
.housing img{
	height: 73px;
	width: 76px;
	margin:0 auto; 
}
.housing h2{
}
.housing p{
	margin-top: 0px;
	line-height: 1.2;
}


.foot {
	width: 33.33%;
	height: 332px;
	display: flex;
	flex-direction: column;
	justify-content: space-around;
	padding-top: 60px;
}
.foot img{
	height: 73px;
	width: 76px;
	margin:0 auto; 
}
.foot h2{
}
.foot p{
	margin-top: 0px;
	line-height: 1.2;
}
.souvenir {
	width: 33.33%;
	height: 332px;
	display: flex;
	flex-direction: column;
	justify-content: space-around;
	padding-top: 60px;
}
.souvenir img{
	height: 73px;
	width: 76px;
	margin:0 auto; 
}
.souvenir h2{
}
.souvenir p{
	margin-top: 0px;
	line-height: 1.2;
}
.number-two {
	display: flex;
	flex-direction: row;
	overflow: hidden;
}

.three-to-five {
	margin:0 auto; 
	width: 100%;
	height: 257px;
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	background-color: #eee; 
}
.three-to-five p{
	max-width: 250px;
	margin:0 auto;
}
.three {
	width: 33.33%;
	text-align: center;
}
.three h2{
	margin-top: 53px;
	margin-bottom: 22px;
}
.three p{
	max-width: 250px;
	margin:0 auto;
	margin-top: 33px;
}
.four {
	width: 33.33%;
	text-align: center;
}
.four h2{
	margin-top: 53px;
	margin-bottom: 22px;
}
.four p{
	margin-top: 33px;
}
.five {
	width: 33.33%;
	text-align: center;
}
.five h2{
	margin-top: 53px;
	margin-bottom: 22px;
}
.five p{
	margin-top: 33px;
}
.interest {
	max-width: 1200px;
	margin:0 auto;
	display: flex;
	flex-direction: column;
	justify-content: center;
	padding-bottom: 55px;
	
}
h3{
	text-align: center;
	margin-top: 55px;
	text-transform: uppercase;
	font-size: 30px;
	font-weight: 700;
}
.interest p{
	margin-top: 35px;
	margin-bottom: 50px; 
}
.btn {
	width: 460px;
	height: 60px;
	background-color: #81b3d2; 
	margin:0 auto;
	font-size: 21px;
	text-transform: uppercase;
	color: #fff;
	font-weight: 700;
	border: none; 
	outline: none;
}
.btn:hover,
.btn:focus{
	background-color: #669ec0;
}
.btn:active{
	color: #94b9d2;
}
.btn:link{
	background-color: #e5e5e5;
}
.form {
	display: none;
	width: 460px;
	height: 350px;
	background-color: #fff;
	z-index: -1;
	position: absolute;
	margin-left: -8px;
	margin-top: 18px;

}
.map{
	margin:0 auto;
	max-width: 1200px;
	margin-bottom: 55px;
}
.map img{
	width: 100%;
}
footer {
	width: 100%;
	height: 70px;
}
.footer {
	max-width: 1200px;
	padding-left: 130px;
	padding-right: 130px;
	height: 48px;
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	margin:0 auto;
}

.visitsedona {
	height: 48px;
	display: flex;
	flex-direction: column;
	justify-content: center;
}
.soc-sety {
	margin-left: 24px;
	display: flex;
	flex-direction: row;

}
.soc-sety img{
	height: 20px;
	width: 20px;
	margin:0 auto;
}
.soc-sety a{
	display: flex;
	flex-direction: column;
	justify-content: center;
	margin-left: 6px;
	height: 48px;
	width: 48px;
	background-color: #81b3d2;
}
.soc-sety a:hover,
.soc-sety a:focus{
	background-color: #669ec0;
}
.develop {
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	height: 48px;
}	
.develop img{
	height: 34px;
	width: 27px;
	margin-left: 6px;
}
.develop p{
	margin: 0;
	vertical-align: middle;
}
.alignment {
	display: flex;
	flex-direction: column;
	justify-content: center;
}
.align {
	display: flex;
	flex-direction: column;
	justify-content: center;
}



/*Страница фото-видео*/
.foto-video {
	margin:0 auto; 
	max-width: 1200px;
	margin-top: 55px;
}
.foto {
	margin:0 auto;
	max-width: 1200px;
	height: 666px;
}
.non-native-expanses {
	width: 100%;
	height: 400px;
	background-image: url("../img/photo-1-desktop.png");
	background-size: cover;
	overflow: hidden; 
	position: relative;
}
.three-foto-band {
	display: flex;
	flex-direction: row;
	justify-content: space-between;
}
.native-vegetation {
	width: 33.33%;
	height: 267px;
	background-image: url("../img/photo-2-desktop.png");
	background-size: cover;
	overflow: hidden; 
	position: relative;
}
.road {
	width: 33.33%;
	height: 267px;
	background-image: url("../img/photo-3-desktop.png");
	background-size: cover;
	overflow: hidden; 
	position: relative;
}
.devil-bridge {
	width: 33.33%;
	height: 267px;
	background-image: url("../img/photo-4-desktop.png");
	background-size: cover;
	overflow: hidden; 
	position: relative;
}
.text-band {
	width: 100%;
	height: 80px;
	position: absolute;
	bottom: 0;
	background-color: rgba(0, 0, 0, 0.3);
	display: flex;
	flex-direction: row;
	justify-content: space-between;
}
.text-band p{
	color: #fff;
}
.text {
	display: flex;
	flex-direction: column;
	justify-content: center;
	margin-left: 20px;
}
.text p{
	padding: 0;
	margin: 0;
	color: #fff;
	font-weight: 700;
}
.autor{
	margin-top: 10px;
	font-size: 14px;
	font-weight: 400;
	color: #fff;
}
.like img {
	width: 22px;
	height: 22px;
}
.like {
	margin-top: 29px;
	margin-right: 20px;
	display: flex;
	flex-direction: row;
	justify-content: space-around;
}

.like p{
	padding: 0;
	margin: 0;
	margin-left: 10px;
	margin-top: 7px;
	color: #fff;
	font-weight: 700;
}
.video {
	width: 100%;
	height: 833px;
	display: flex;
	flex-direction: column;
	justify-content: center;
}
video {
	margin:0 auto; 
	width: 800px;
	height: 500px;
}



/*Страница форма-отзыва*/

.leave-your-feedback {
	margin:0 auto; 
	max-width: 1200px;
	margin-top: 55px;
	margin-bottom: 70px;
}

/*Радио кнопки*/

.form-start {
	max-width: 1200px;
	height: 315px;
	margin: 0 auto;
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	margin-bottom: 40px;	
}

.form-radio {
	display: flex;
	flex-direction: column;
	justify-content: flex-start;
	max-width: 480px;
	height: 315px; 
	margin-left: 190px;
	
}
legend{
	font-size: 21px;
	font-weight: 700;
	text-transform: uppercase;
}
label{
	cursor: pointer;
	font-weight: 700;
}
.contacts label{
	margin-top: 35px;
}
.radio {
	position: absolute;
	-webkit-appearance: none;
	-moz-appearance: none;
	appearance: none;
}
.radio-label {
	margin-top: 66px;
	font-size: 18px;
}
.radio-label-top {
	margin-top: 66px;
	font-size: 18px;
}
.radio-box {
	position: absolute;
	width: 55px;
	height: 55px;
	border-radius: 50%;
	background-color: #eee;
	margin-left: -70px;
	margin-top: -17px; 
}

.radio:checked + .radio-box {
	position: absolute;
	border-radius: 50%;
	background-color: #333333;
	border: #eee solid 17px;
	
}
.radio-box:hover,
.radio-box:focus{
	border: #81b3d2 solid 2px;
}
label:hover,
label:focus{
	color: #81b3d2;
}
/*Инпуты*/

.form-fio{
	max-width: 401px;
	height: 315px;
	margin-right: 120px;	
}
.form-fio label{
	text-transform: uppercase;
	font-weight: 400;
}
.fio {
	border: none;
	margin-left: 14px;
	margin-top: 48px;
	height: 55px;
	width: 87.28%;
	font-size: 14px;
	font-weight: 700;
	background-color: #eee;
}
.fio2 {
	border: none;
	margin-left: 14px;
	margin-top: 28px;
	height: 55px;
	width: 78.05%;
	font-size: 14px;
	font-weight: 700;
	background-color: #eee;
}
.introduce {
	margin: 0;
}
.fio:hover,
.fio:focus{
	border: #81b3d2 solid 2px;
}
.fio2:hover,
.fio2:focus{
	border: #81b3d2 solid 2px;
}
.contacts {
	margin: 0 auto;
	max-width: 960px;

}
.contacts-form {
	margin: 0 auto;
}
.title{
	text-align: center;
	margin: 0 auto;
	padding-left: 60px;
	padding-right: 60px;
	
}
fieldset {
	border-top: #dbdbdb solid 1px;
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	flex-wrap: wrap;
}
.contacts-form label{
	text-transform: uppercase;
	font-weight: 400;
}
.fio3 {
	border: none;
	margin-left: 14px;
	height: 55px;
	width: 302px;
	font-size: 14px;
	font-weight: 700;
	background-color: #eee;
}
.fio3:hover,
.fio3:focus{
	border: #81b3d2 solid 2px;
}
.fio4 {
	border: none;
	margin-left: 14px;
	height: 55px;
	width: 302px;
	font-size: 14px;
	font-weight: 700;
	background-color: #eee;
	margin-bottom: 65px;
}
.fio4:hover,
.fio4:focus{
	border: #81b3d2 solid 2px;
}


/*Чекбоксы*/

.chekbox {
	margin: 0 auto;
	margin-bottom: 70px;
}
.chekbox-form {
	margin: 0 auto;
	max-width: 960px;
}
.chekbox-input {
	margin-bottom: 70px;
	position: absolute;
	-webkit-appearance: none;
	-moz-appearance: none;
	appearance: none;
}
.chekbox label{
	font-size: 18px;
	margin-left: 70px;
	margin-top: 65px;
	width: 122px;
}
.chekbox-box {
	position: absolute;
	width: 55px;
	height: 55px;
	background-image: url("../img/chek-off.png"); 
	margin-left: -70px;
	margin-top: -17px; 
}
.chekbox-input:checked + .chekbox-box {
	position: absolute;
	background-image: url("../img/chek-on.png");
}
.chekbox-box:hover,
.chekbox-box:focus{
	border: #81b3d2 solid 2px;
	border-radius: 5px;
}

/*Поле текста*/
.text-sec {
	margin: 0 auto;
	max-width: 960px;
}
.text-form {
	margin: 0 auto;
	max-width: 1280px;	
	position: relative;	
}
.text-fieldset {
	margin: 0 auto;
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	
}
 .text-input {
 	margin-top: 70px;
 	border: none;
	height: 160px;
	max-width: 960px;
	font-size: 14px;
	font-weight: 700;
	background-color: #eee;
	margin-bottom: 60px;
	padding-top: 22px;
	padding-left: 22px;
	padding-right: 22px;
 }
.btn-form {
	margin: 0;
	margin-bottom: 70px;
} 
.mandatory-field {
	text-transform: uppercase;
	position: absolute;
	right: 40px;
	bottom: 93px;
}

/*Страница гостиницы*/

.filter {
	background-image: url("../img/filter-background.png");
	width: 100%;
	height: 218px;
	background-size: cover;
	overflow: hidden;
	
}
.section-filter-form{
	max-width: 1280px;
	margin: 0 auto;
	padding-left: 130px;
	padding-right: 130px;
	display: flex;
	flex-direction: row;
	justify-content: flex-start;

}
.filter-form {
	width: 160px;
	height: 218px;
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	padding-bottom: 30px;
}
.filter-form legend{
	margin: 0;
	padding: 0;
	color: #fff;
	margin-top: 25px;
	margin-bottom: 5px;
	font-size: 16px;
}
.filter-form label{
	margin: 0;
	padding: 0;
	color: #fff;
	font-weight: 400;
	text-transform: uppercase;
	margin-left: 35px;
}
.chekbox-input-filter {
	position: absolute;
	-webkit-appearance: none;
	-moz-appearance: none;
	appearance: none;
}
.chekbox-filter {
	position: absolute;
	width: 23px;
	height: 23px;
	background-image: url("../img/checkbox-off.png"); 
	margin-top: -5px;
	margin-left: -35px;

}

.chekbox-input-filter:checked + .chekbox-filter {
	position: absolute;
	background-image: url("../img/checkbox-on.png");

}

.chekbox-filter:hover,
.chekbox-filter:focus{
	background-color: #81b3d2;
}
.filter-form label:hover,
.filter-form label:focus{
	color: #81b3d2;
}
.type-of-housing {
	margin-left: 49px;
}
.price {
	width: 61.27%;
	max-width: 660px;
	display: flex;
	flex-direction: row;
	justify-content: flex-end;
}
.filter-fieldset {
	border: none;
	max-width: 330px;
	height: 218px;
	margin-right: 0px;
	padding-bottom: 20px;
}
.price-input-block {
	width: 330px;
	height: 35px;
	margin-top: 12px;
	border: solid #fff 2px;
	border-radius: 2px;
	display: flex;
	flex-direction: row;
	justify-content: space-between;
}
.price-input {
	border: none;
	width: 49.65%;
	background: transparent;
	color: #fff;
	font-weight: 400;
	font-size: 14px;
	text-align: center;
}
.separator {
	width: 2px;
	height: 22px;
	background-color: #fff;
	margin-top: 4px;
}
.slider-price {
	width: 330px;
	margin-bottom: 15px;

}
.btn-price-filter{
	width: 137px;
	height: 35px;
	background: transparent;
	border: solid #fff 2px;
	border-radius: 2px;
	color: #fff;
	text-transform: uppercase;
	margin: 0 auto;
	margin-top: 8px;
}
.btn-price-filter:hover {
	box-shadow: 0px 6px 6px rgba(0,0,0,0.25),
0 0 6px rgba(0,0,0,0.12);
}
.btn-price-filter:active {
	box-shadow: 0px 4px 4px rgba(0,0,0,0.25),
    0 0 4px rgba(0,0,0,0.12);
}

.sort {
	max-width: 1280px;
	height: 85px; 
	margin: 0 auto;
	margin-left: 130px;
	margin-right: 130px;
	display: flex;
	flex-direction: row;
	justify-content: flex-start;
	position: relative;
}
.sort h2{
	margin: 0px;
	height: 85px;
	padding-top: 27px;
}
.sort p{
	font-weight: 700;
	height: 85px;
	margin: 0px;
	margin-left: 50px;
	padding-top: 33px; 
}
.sort a{
	cursor: pointer;
	font-weight: 400;
	font-size: 12px;
	color: #000;
	opacity: 0.8;
}
.sort a:hover,
.sort a:focus{
	color: #81b3d2;
	opacity: 0.8;
}
.sort-choice {
	margin-left: 40px;
	height: 85px;
	padding-top: 33px;
}
.sort a:active{
	color: #81b3d2;
	opacity: 1;
	font-weight: 700;
}
.div-sort {
	display: flex;
	flex-direction: row;
	justify-content: flex-start;
	flex-shrink: 0;
}
.switch-box{
	height: 85px;
	right: 0;
	margin-left: 2px;
	position: absolute;

}
.switch-up {
	position: absolute;
	right: 0;
	top: 30px;
	margin-right: 40px;

	
}
.switch-down {
	position: absolute;
	right: 0;
	top: 30px;
	margin-right: 40px;

	
}
.switch-up:before {
	content: ''; 
    position: absolute;
    width: 0; 
	height: 0;
	border-left: 10px solid transparent;
	border-right: 10px solid transparent;
	border-bottom: 20px solid #cacaca;
}
.switch-down:after {
	content: ''; 
    position: absolute;
    width: 0; 
	height: 0;
	border-left: 10px solid transparent;
	border-right: 10px solid transparent;
	border-top: 20px solid #81b3d2;
	margin-left: 20px;
}
.section-alternative {
	max-width: 1280px;
	height: 150px;
	margin: 0 auto;
	display: flex;
	flex-direction: column;
	justify-content: center;
	padding-right: 130px;
	padding-left: 130px;
}
.alternativs {
	width: 100%;
	height: 150px;
	border-top: 1px solid #e5e5e5;
	border-bottom: 1px solid #e5e5e5;
	display: flex;
	flex-direction: column;
	justify-content: center;
}
.alternative {
	height: 92px;
	width: 100%;
	display: flex;
	flex-direction: row;
	justify-content: flex-start;
	position: relative;
	
}
.two {
	border-top: none;
}
.three {
	border-top: none;
	margin-bottom: 40px;
}
.alternative img{
	width: 136px;
	height: 92px;
}
.hotel-alternative {
	width: 265px;
	height: 136px;
	display: flex;
	flex-direction: column;
	justify-content: flex-start;
	margin-left: 30px;
}
.btn-alternative {
	width: 100%;
	height: 60px;
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	margin-top: 18px;
}
.detail {
	display: flex;
	flex-direction: column;
	justify-content: flex-start;
}
.reservation {
	display: flex;
	flex-direction: column;
	justify-content: flex-start;
}
.detail-btn {
	width: 110px;
	height: 27px;
	background-color: #81b3d2;
	border: none;
	margin-top: 13px;
	color: #fff;
	font-weight: 700;
}
.reservation-btn {
	width: 142px;
	height: 27px;
	background-color: #766357;
	border: none;
	margin-top: 13px;
	color: #fff;
	font-weight: 700;
}
.reservation-btn:hover,
.detail-btn:hover,
.reservation-btn:focus,
.detail-btn:focus{
	box-shadow: 0px 6px 6px rgba(0,0,0,0.25),
0 0 6px rgba(0,0,0,0.12);
}
.reservation-btn:active,
.detail-btn:active{
	box-shadow: 0px 4px 4px rgba(0,0,0,0.25),
0 0 4px rgba(0,0,0,0.12);
}	
.btn-alternative p{
	text-align: left;
	margin: 0;
	padding: 0;
}
.hotel-alternative h2{
	text-align: left;
	margin: 0;
	padding: 0;
	margin-top: -4px;
}
.star {
	position: absolute;
	top: 0;
	right: 0;
}
.star img{
	width: 18px;
	height: 17px;
}
.rating {
	width: 110px;
	height: 27px;
	background-color: #f2f2f2;
	text-align: center;
	position: absolute;
	bottom: 0px; /* Почему <р> не ровнялась?*/
	right: 0;
	text-transform: uppercase;
	display: flex;
	flex-direction: column;
	justify-content: center;
}
.margin-footer {
	margin-bottom: 40px;
}
@media screen and (max-width: 1024px){
.form-radio legend{
	position: absolute;
	left: 120px;
}
.radio-label-top {
	margin-top: 86px;
}
.form-radio {
	margin-left: 110px;
}
.form-fio {
	margin-right: 40px;
}
.contacts {
    margin-right: 40px;
    margin-left: 40px;
}
.chekbox-form {
	margin-right: 40px;
    margin-left: 40px;
}
.text-sec {
	margin-right: 40px;
    margin-left: 40px;
}

}

@media screen and (max-width: 960px){
.menu {
	padding-right: 40px;
	padding-left: 40px;
}
.logo {
	display: none;
}
.logo-tablet {
	display: block;
}
.section-filter-form {
	padding-left: 40px;
	padding-right: 40px;
}
.sort {
	margin-left: 40px;
	margin-right: 40px;

}
.section-alternative {
	padding-left: 40px;
	padding-right: 40px;
}
.contacts {
    margin-right: 40px;
    margin-left: 40px;
}
.form-radio legend{
	left: 40px;
}
.form-fio{	
}
.fio3 {
	margin-left: 91px;
}
}
@media screen and (max-width: 768px){

.menu {
	display: none;
}
.logo-tablet-on {
	display: block;	
}
.burger{
	display: flex;
}
}